<h1>Meetups for the week</h1>
{{#events}}   
<h2>{{time}}</h2>
	<ul>
	{{#values}}
		<li>
   		{{group_name}} - <a href='{{url}}'>{{name}}</a> - {{venue_name}}
		</li>
	{{/values}}
	</ul>
{{/events}}

Feel free to get in touch if I've missed any meetups or you have any suggestions for improvements.
