<head>
	<style>
		body {
			font-family: Arial, sans-serif;
			font-size: 9pt;
		}

		p {
			font-weight: bold;
		}
	</style>
</head>
<body>
	{{#events}}
	<p>{{time}}</p>
		<ul>
		{{#values}}
			<li>
			{{group_name}} - <a href='{{url}}'>{{name}}</a> - {{venue_name}}
			</li>
		{{/values}}
		</ul>
	{{/events}}
</body>
